.log-in {
    align-items: center;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    height: 1080px;
    overflow: hidden;
    width: 1920px;
  }
  
  .log-in .overlap-group6 {
    height: 91px;
    margin-left: 2.0px;
    position: relative;
    width: 1924px;
  }
  
  .log-in .header {
    align-items: flex-start;
    display: flex;
    height: 91px;
    left: 0;
    min-width: 1924px;
    position: absolute;
    top: 0;
  }
  
  .log-in .overlap-group4 {
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 6px 7px 
  #0000000a;
    display: flex;
    height: 91px;
    justify-content: flex-end;
    min-width: 1920px;
    padding: 0 49.7px;
  }
  
  .log-in .overlap-group {
    border-radius: 1000px;
    height: 39px;
    position: relative;
    width: 114px;
  }
  
  .log-in .log-in-1 {
    height: 9px;
    left: 32px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 52px;
  }
  
  .log-in .rectangle-22 {
    border-radius: 1000px;
    height: 39px;
    left: 0;
    position: absolute;
    top: 0;
    width: 114px;
  }
  
  .log-in .overlap-group1 {
    align-items: center;
    background-color: var(--uclub-blue);
    border-radius: 1000px;
    display: flex;
    height: 39px;
    justify-content: flex-end;
    margin-left: 26px;
    min-width: 114px;
    padding: 0 25px;
  }
  
  .log-in .sign-up {
    height: 29px;
    letter-spacing: 0;
    text-align: center;
    width: 63px;
  }
  
  .log-in .group-5 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 22px;
    min-height: 31px;
    width: 8px;
  }
  
  .log-in .ellipse-29 {
    background-color: var(--lighter-grey);
    border-radius: 3.81px;
    height: 8px;
    width: 8px;
  }
  
  .log-in .ellipse-2 {
    background-color: var(--lighter-grey);
    border-radius: 3.81px;
    height: 8px;
    margin-left: 0;
    margin-top: 4px;
    width: 8px;
  }
  
  .log-in .group-202 {
    height: 36px;
    left: 51px;
    position: absolute;
    top: 27px;
    width: 136px;
  }
  
  .log-in .overlap-group5 {
    border-radius: 40px;
    height: 751px;
    margin-top: 73px;
    position: relative;
    width: 648px;
  }
  
  .log-in .group-4 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    left: 54px;
    min-height: 561px;
    position: absolute;
    top: 82px;
    width: 590px;
  }
  
  .log-in .title {
    align-self: center;
    height: 31px;
    letter-spacing: 0;
    margin-right: 22.0px;
    text-align: center;
    width: 464px;
  }
  
  .log-in .text-1 {
    height: 17px;
    letter-spacing: 0;
    margin-left: 0;
    margin-top: 55px;
    width: 542px;
  }
  
  .log-in .overlap-group2 {
    height: 41px;
    margin-left: 0;
    margin-top: 25px;
    position: relative;
    width: 552px;
  }
  
  .log-in .text-4 {
    height: 17px;
    left: 10px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
    width: 542px;
  }
  
  .log-in .rectangle-6 {
    border-radius: 8px;
    height: 41px;
    left: 0;
    position: absolute;
    top: 0;
    width: 540px;
  }
  
  .log-in .password {
    height: 17px;
    letter-spacing: 0;
    margin-left: 0;
    margin-top: 15px;
    width: 542px;
  }
  
  .log-in .overlap-group3 {
    height: 41px;
    margin-left: 0;
    margin-top: 15px;
    position: relative;
    width: 552px;
  }
  
  .log-in .password-1 {
    height: 17px;
    left: 10px;
    letter-spacing: 0;
    position: absolute;
    top: 12px;
    width: 542px;
  }
  
  .log-in .text-3 {
    height: 17px;
    letter-spacing: 0;
    margin-top: 15px;
    width: 542px;
  }
  
  .log-in .flex-row {
    align-items: center;
    display: flex;
    margin-left: 0;
    margin-top: 45px;
    min-width: 572px;
  }
  
  .log-in .rectangle-62 {
    border-radius: 3px;
    height: 20px;
    margin-bottom: 2.0px;
    width: 20px;
  }
  
  .log-in .overlap-group-1 {
    height: 48px;
    margin-left: 10px;
    position: relative;
    width: 542px;
  }
  
  .log-in .remember-me {
    height: 17px;
    left: 0;
    letter-spacing: 0;
    position: absolute;
    top: 15px;
    width: 542px;
  }
  
  .log-in .rectangle-69 {
    background-color: var(--uclub-blue);
    border-radius: 100px;
    height: 48px;
    left: 246px;
    position: absolute;
    top: 0;
    width: 264px;
  }
  
  .log-in .log-in-2 {
    height: 17px;
    left: 249px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 266px;
  }
  
  .log-in .line-7 {
    height: 1px;
    margin-left: 0;
    margin-top: 40px;
    width: 540px;
  }
  
  .log-in .text-2 {
    height: 17px;
    letter-spacing: 0;
    margin-left: 0;
    margin-top: 41px;
    text-align: center;
    width: 542px;
  }
  
  .log-in .overlap-group1-1 {
    height: 48px;
    margin-left: 0;
    margin-top: 32px;
    position: relative;
    width: 548px;
  }
  
  .log-in .rectangle-70 {
    background-color: var(--uclub-blue);
    border-radius: 100px;
    height: 48px;
    left: 0;
    position: absolute;
    top: 0;
    width: 540px;
  }
  
  .log-in .sign-up-for-u-club {
    height: 17px;
    left: 6px;
    letter-spacing: 0;
    position: absolute;
    text-align: center;
    top: 15px;
    width: 542px;
  }
  
  .log-in .rectangle-71 {
    border-radius: 40px;
    height: 751px;
    left: 0;
    position: absolute;
    top: 0;
    width: 648px;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
  
  .screen a {
    display: contents;
    text-decoration: none;
  }
  
  .container-center-horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    pointer-events: none;
    width: 100%;
  }
  
  .container-center-horizontal > * {
    flex-shrink: 0;
    pointer-events: auto;
  }
  
  .valign-text-middle {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .rectangle-71 {
    border-radius: 40px;
    height: 751px;
    width: 648px;
  }
  